body {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
#startPage h1{
font-family: 'Oswald', sans-serif;
}
.hide {
    display: none;
}

#highscoreBtn {
    list-style-type: none;
}

#highscoreBtn li {
    display: inline-block;
}

.btn{
    font-weight: bolder;
}